@import '_layout';
@import '_header';
@import '_menu';
@import '_sub-menu';
@import '_sidebar';

.main-inner {
  //20240605
  background: var(--content-bg-color);
  //background: rgba(255,255,255,0.9);
  //20240605
  box-shadow: $box-shadow-inner;
  padding: $content-desktop-padding;

  +tablet-mobile() {
    padding: 20px;
  }
}

// Sub-menu(s).
.sub-menu {
  border-bottom: 1px solid $table-border-color;
}

.post-block:first-of-type {
  padding-top: 40px;
}

.pagination {
  +mobile() {
    margin-bottom: 10px;
  }
}
// 20240601
body {
    background:url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}
